/* Global */
body {
    padding-top: 90px;
    transition: padding-top 0.4s ease-in-out;
    background: linear-gradient(to right, #8e9eab, #eef2f3);    
}
body.collapsed {
    padding-top: 50px;
}
.clear-fix:after {
    display: table;
    content: '';
    clear: both;
}
.body-content {
    font-size: 12px;
    font-family: Tahoma, Geneva, sans-serif;
    letter-spacing: 0.05em;
}
.carousel-inner > .item > img {
    height: 600px;
    object-fit: cover;
    width: 100%;
    object-position: top;
}
footer {
    padding: 50px 0 ;
    text-align: center;
}
footer p {
    margin-bottom: 0;
}

/* Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 90px;
    background: #000;
    z-index: 999;
    text-align: center;
    transition: height 0.4s ease-in-out;
}
.header-logo,
.header-logo a {
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.header-logo img {
    width: 120px;
    margin: 11.5px 0;
    object-fit: cover;
    object-position: bottom;
    height: 67px;
    transition: height 0.4s ease-in-out;
}
.header.collapsed {
    height: 50px;
}
.header.collapsed .header-logo img {
    height: 17px;
    margin: 16.5px 0;
}

/* Home Page */
.our-bands {
    padding: 50px 0;
    text-align: center;
}
.our-bands-copy {
    font-size: 24px;
    font-style: italic;
    color: #555;
}
.our-bands-list {
    padding-top: 40px;
}
.our-band,
.see-all {
    width: calc(100%/5);
    float: left;
    text-align: center;
}
.our-band img {
    width: 100%;
    padding: 15px;
    object-fit: cover;
    border-radius: 50%;
}
.our-band-name {
    font-size: 18px;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
}
.see-all a {
    display: inline-block;    
    background: #1499D7;
    border-radius: 50%;
    transition: background 0.4s ease-in-out;
    width: 203px;
    height: 203px;
    color: white;    
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 203px;
    margin: 15px;
    letter-spacing: 0.10em;
}
.see-all a:hover,
.see-all a:focus {    
    background: #f22613;
    text-decoration: none;
}
.about-us {
    padding: 50px 0;
    text-align: center;
}
.about-head {
    font-size: 24px;
    font-weight: bold;
}
.about-copy {
    font-size: 18px;
    color: #555;
    padding: 10px 0;    
}
.about-detail {
    padding-top: 20px;
}
.about-item {
    width: 25%;
    padding: 25px;
    float: left;
}
.about-icon {
    width: 70px;
}
.about-title {
    font-size: 20px;
    font-weight: bold;
    padding-top: 25px;
}
.about-description {
    font-size: 14px;
    color: #555;
    text-align: justify;
    padding-top: 10px;
}